<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link href="../public/assets/css/materialize.css" type="text/css" rel="stylesheet">
  <link href="../public/assets/css/style.css" type="text/css" rel="stylesheet">
  <title>BurnRate</title>
</head>

<body>
  <!-- START HEADER -->
  <header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
      <nav class="nav-color">
        <div class="nav-wrapper">
          <ul>
            <li>
              <h1 class="logo-wrapper">
                <a href="index.html" class="brand-logo center">
                  <!-- <img src="../public/assets/img/moneyball-logo.png" alt="moneyball logo"> -->
                  <span class="logo-text">BallPark Burnout</span>
                </a>
              </h1>
            </li>
          </ul>
          <ul class="right">

            <li>
              <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                <i class="material-icons">settings_overscan</i>
              </a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
    <!-- end header nav-->
  </header>
  <!-- END HEADER -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
      <!-- START LEFT SIDEBAR NAV-->
      <aside id="left-sidebar-nav">
        <ul id="slide-out" class="side-nav fixed leftside-navigation">
          <li>
            <a href="" target="_blank">
              <i class="material-icons">account_balance_wallet</i>
              <span class="waves-effect waves-block waves-light nav-text">Dashboard</span>
            </a>
          </li>
        </ul>
      </aside>
      <!-- END LEFT SIDEBAR NAV-->

      <!-- START CONTENT -->
      <section id="content">
        <!--start container-->
        <div class="container">
          <div class="section">
            <p class="caption">Do I has the moneys?</p>

          </div>

        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
  </div>
  <!-- END MAIN -->


  <script type="text/javascript" src="../public/assets/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../public/assets/js/materialize.min.js"></script>
  <script type="text/javascript" src="../public/assets/js/bp-burnout.js"></script>
</body>

</html>