<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link href="../public/assets/css/materialize.css" type="text/css" rel="stylesheet">

  <!--Morris Chart.js-->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

  <!--CSS-->
  <link href="../public/assets/css/style.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Faster+One" rel="stylesheet">

  <title>BurnRate</title>
</head>

<body>
  <!-- START HEADER -->
  <header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
      <nav class="nav-color">
        <div class="nav-wrapper">
          <ul>
            <li>
              <h1 class="logo-wrapper">
                <a href="index.html" class="brand-logo center">
                  <!-- <img src="../public/assets/img/moneyball-logo.png" alt="moneyball logo"> -->
                  <span class="logo-text">Burnrate</span>
                </a>
              </h1>
            </li>
          </ul>
          <ul class="right">

            <li>
              <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                <i class="material-icons">settings_overscan</i>
              </a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
    <!-- end header nav-->
  </header>
  <!-- END HEADER -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
      <!-- START LEFT SIDEBAR NAV-->
      <aside id="left-sidebar-nav">
        <ul id="slide-out" class="side-nav fixed leftside-navigation">
          <li>
            <a class="waves-effect waves-dark btn modal-trigger" href="#signin">
              <i class="material-icons">portrait</i>
              <span class="waves-effect waves-block waves-light nav-text">Sign In</span>
            </a>
          </li>
          <!-- Dashboard Button doesn't add any functionality -->
          <!-- <li>
            <a class="waves-effect waves-dark btn" href="" target="_blank">
              <i class="material-icons">dashboard</i>
              <span class="waves-effect waves-block waves-light nav-text">Dashboard</span>
            </a>
          </li> -->
          <li>
            <a class="waves-effect waves-dark btn modal-trigger" href="#company">
              <i class="material-icons">list</i>
              <span class="waves-effect waves-block waves-light nav-text">Company</span>
            </a>
          </li>
          <li>
            <a class="waves-effect waves-dark btn modal-trigger" href="#expenses">
              <i class="material-icons">credit_card</i>
              <span class="waves-effect waves-block waves-light nav-text">Expenses</span>
            </a>
          </li>
          <li>
            <a class="waves-effect waves-dark btn modal-trigger" href="#income">
              <i class="material-icons">attach_money</i>
              <span class="waves-effect waves-block waves-light nav-text">Income</span>
            </a>
          </li>

        </ul>
      </aside>
      <!-- END LEFT SIDEBAR NAV-->

      <!-- START CONTENT -->
      <section id="content">
        <!--start container-->
        <div class="container">
          <div class="section">
            <div class="row">
              <div class="col s4">
                <div class="card">
                  <div class="card-cashRemaining">
                    <svg id="fillgauge1" width="100%" height="200"></svg>
                    <span class="card-title">Cash Remaining</span>
                  </div>
                </div>
              </div>
              <div class="col s4">
                <div class="card">
                  <div class="card-income">
                    <svg id="fillgauge4" width="100%" height="200"></svg>
                    <span class="card-title">Income by Category</span>
                  </div>
                </div>
              </div>
              <div class="col s4">
                <div class="card">
                  <div class="card-expenses">
                    <svg id="donut-chart" width="100%" height="200"></svg>
                    <span class="card-title">Expenses by Category</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="card" id="linecard">
                  <div class="card-image" id="line">
                    <!-- <img src="../VC2_final_branding1.png">
                        <a class="btn-floating halfway-fab waves-effect waves-light red">
                          <i class="material-icons">x</i>
                        </a> -->
                  </div>
                  <div class="card-content">
                    <span class="card-title">Ballpark Cash Timeline</span>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- The Modals -->

          <!-- Sign In -->
          <div id="signin" class="modal">
            <div class="modal-content">
              <div class="card-panel">
                <div class="card-content">
                  <form action="">
                    <p class="card-title">Sign In</p>
                    <p>Username:
                      <input id="username" type="text" placeholder="jomo1">
                    </p>
                    <p>Password:
                      <input id="pass" type="password" placeholder="xxxxx">
                    </p>
                    <a class="waves-effect waves-light btn-flat modal-trigger" href="#signup">
                      <span class="waves-effect waves-block waves-light nav-text">Sign Up</span>
                    </a>
                    <input type="submit" href="#!" id="signinbtn" class="modal-close waves-effect waves-light btn-flat">
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Sign Up -->
          <div id="signup" class="modal">
            <div class="modal-content">
              <div class="card-panel">
                <div class="card-content">
                  <form action="">
                    <p class="card-title">Sign Up</p>
                    <p>Username:
                      <input id="newuser" type="text" placeholder="therealme">
                    </p>
                    <p>Password:</p>
                    <p id="passwordgen"></p>
                    <input type="submit" href="#!" id="signupbtn" class="modal-close waves-effect waves-light btn-flat">
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Company Info -->
          <div id="company" class="modal">
            <div class="modal-content">
              <div class="card-panel">
                <div class="card-content">
                    <h4>Add New</h4>
                  <form action="">
                  <p class="card-title">Company Info</p>
                  <p>Company Name:
                    <input id="companyname" type="text" placeholder="Ballpark Burnrate">
                  </p>

                  <input href="#!" id="companybtn" class="modal-close waves-effect waves-light btn-flat" type="submit" value="Submit">
                  <p>Your Companies:</p>
                  <table id="companytbl">
                    </form>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Expense Table Modal -->
          <div id="brwsexp" class="modal">
            <div class="modal-content">
              <form action="">
                <table id="exptbl">

                </table>
                <input href="#!" id="etblbtn" class="modal-close waves-effect waves-light btn-flat" type="submit" value="Submit Changes">
              </form>
            </div>
          </div>
            
                      <!-- Expense Table Modal -->
          <div id="brwsinc" class="modal">
              <div class="modal-content">
                <form action="">
                  <table id="inctbl">
  
                  </table>
                  <input href="#!" id="itblbtn" class="modal-close waves-effect waves-light btn-flat" type="submit" value="Submit Changes">
                </form>
              </div>
            </div>

            <!-- Expenses -->
            <div id="expenses" class="modal">
              <div class="modal-content">
                <h4>Add New</h4>
                <form action="">
                  <p>Expense Amount ($):
                    <input id="expenseamt" type="text" placeholder="10000">
                  </p>
                  <p>Expense Date:
                    <input id="expensedate" type="date" placeholder="">
                  </p>
                  <p>Vendor:
                    <input id="vendor" type="text" placeholder="Amazon">
                  </p>
                  <p>Expense Description:
                    <input id="expensedesc" type="text" placeholder="Web Services">
                  </p>
                  <p>Is this a recurring expense? If so, enter the next billing date.
                    <input id="expensedate" type="date" placeholder="">
                  </p>
                  <a class="waves-effect waves-light btn-flat modal-trigger" href="#brwsexp">
                    <span class="waves-effect waves-block waves-light nav-text">Browse Expenses</span>
                  </a>
                  <input href="#!" id="expensebtn" class="modal-close waves-effect waves-light btn-flat" type="submit" value="Submit">
                </form>
              </div>

            </div>

            <!-- Income -->
            <div id="income" class="modal">
              <div class="modal-content">
                  <h4>Add New</h4>
                <form action="">
                  <p>Income Amount ($):
                    <input id="incomeamt" type="text" placeholder="10000">
                  </p>
                  <p>Income Date:
                    <input id="incomedate" type="date" placeholder="">
                  </p>
                  <p>Customer:
                    <input id="customer" type="text" placeholder="Netflix">
                  </p>
                  <p>Income Description:
                    <input id="incomedesc" type="text" placeholder="Web Services">
                  </p>
                  <p>Is this a recurring income source? If so, enter the next billing date.
                    <input id="incomedate" type="date" placeholder="">
                  </p>
                  <a class="waves-effect waves-light btn-flat modal-trigger" href="#brwsinc">
                    <span class="waves-effect waves-block waves-light nav-text">Browse Income</span>
                  </a>
                  <input href="#!" id="expensebtn" class="modal-close waves-effect waves-light btn-flat" type="submit" value="Submit">
                </form>
              </div>
            </div>


          </div>
          <!--end container-->
      </section>
      <!-- END CONTENT -->
      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->



    <!--Scripts-->

    <!--D3 Charts-->
    <script src="http://d3js.org/d3.v4.min.js" type="text/javascript"></script>
    <script src="../public/assets/js/liquidFillGauge.js" type="text/javascript"></script>

    <!--JQuery Library-->
    <script type="text/javascript" src="../public/assets/js/jquery-3.2.1.min.js"></script>

    <!--Morris Charts-->
    <script src="../public/assets/js/raphael-min.js" type="text/javascript"></script>
    <script src="../public/assets/js/morris.min.js" type="text/javascript"></script>

    <!--Materialize Script-->
    <script type="text/javascript" src="../public/assets/js/materialize.min.js"></script>

    <!--Custom Scripts-->
    <script src="../public/assets/js/charts.js" type="text/javascript"></script>
    <script src="../public/assets/js/bargraph.js" type="text/javascript"></script>

    <script type="text/javascript" src="../public/assets/js/bp-burnout.js"></script>


</body>

</html>