/*----------------------------------------
    Main CSS
------------------------------------------*/
html, body {
  height: 100%;
}

body {
  background-color: #282827;
}

#main {
  min-height: calc(100% - 100px);
  padding-left: 240px;
  transition: .3s ease all;
}

.container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%;
}

/*----------------------------------------
    Page Header and Nav
------------------------------------------*/
h1.logo-wrapper {
  margin: 0;
}

h1 span.logo-text {
  font-size: 26px;
  padding-left: 8px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

header .brand-logo {
  margin: 1px 0px;
  padding: 22px 20px;
  line-height: 0;
}

header .brand-logo img {
  height: 38px;
  width: 38px;
  text-align: left;
}

.nav-color {
  background: #cfd8dc;
  background: linear-gradient(45deg, #cfd8dc 0%, #546e7a 100%);
  box-shadow: 0 6px 20px 0 rgba(84, 110, 122, 0.5);
}

/*----------------------------------------
   SideNav
------------------------------------------*/
.side-nav {
  width: 240px;
  transition: .3s ease all;
}

.side-nav.native-scroll {
  overflow-y: scroll !important;
}

ul.side-nav.leftside-navigation {
  top: 64px;
  overflow: hidden;
  height: 100%;
}

#left-sidebar-nav {
  position: fixed;
  width: 100px;
  left: 180px;
  z-index: 999;
  height: auto;
}

/*----------------------------------------
   Main Page Content
------------------------------------------*/
.card {
  text-align: center;
  background: #cfd8dc;
  background: linear-gradient(45deg, #cfd8dc 0%, #546e7a 100%);
  box-shadow: 0 6px 20px 0 rgba(84, 110, 122, 0.5);
}

.card-cashRemaining {
  
  padding: 20px 0 0 0;
  background: #FF5252;
  background: -webkit-linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
  background: linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
  box-shadow: 0 6px 20px 0 rgba(244, 143, 177, 0.5);
}

.card-income {
  padding: 20px 0 0 0;
  background: #43A047;
  background: -webkit-linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
  background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
  box-shadow: 0 6px 20px 0 rgba(77, 182, 172, 0.5);
}

.card-expenses {
  background: #2962FF;
  background: -webkit-linear-gradient(45deg, #2962FF 0%, #3949ab 100%);
  background: linear-gradient(45deg, #2962FF 0%, #3949ab 100%);
  box-shadow: 0 6px 20px 0 rgba(57, 73, 171, 0.5);
}

.card-title {
  color: white;

}

/*----------------------------------------
   Input Page Body
------------------------------------------*/

.card-title {
  text-align: center;
  font-weight: 700;
}
#submit {
  width: 200px;
  
}

/*----------------------------------------
   Charts and Graphs CSS
------------------------------------------*/

/* Liquid Gauge Graphs */
.liquidFillGaugeText { 
  font-family: Helvetica; 
  font-weight: bold; 
}

/* Morris Expense Donut Chart */
#pie-chart{
  min-height: 250px;
}
#donut-chart{
  height: 200px;
  width: 250px;
}

/* Area Chart  */
.morris-hover {
  text-align: center;
}
text {
  fill: black;
}
.morris-hover-point {
  color: '#0BA462';

}

